body{
  background-color: rgb(61, 58, 26);
  /*background-image: url('./images/background.jpeg')*/
}

#wrapper {
  width: 800px;
}

.main {
  width: 100%;
  border: 1px solid black; 
   margin-bottom: 10000px;
   position: absolute;

}

#gameboard {
  margin: 0 auto;
  width: 610px;
  margin-left: 170px;
  
}

#message {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  padding: 20px;
  margin: 40px;
  margin-left: 200px;
}

.btn {
  background: #3498db;
  text-align: center;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.flipImage {
  width: 100%;
  border: 1px solid black;
}

.gameTile {
  padding: 2px;
  width: 196px;
  display: inline-block;
}
